body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    background-color: red;
    font-weight: bold;

}
.contact-info, .social-icons {
    display: flex;
    align-items: center;
}
.contact-info a, .social-icons a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
}
.contact-info a:last-child {
    margin-right: 0;
}
.login-button {
    padding: 5px 10px;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.social-icons img, .contact-info img {
    margin-right: 5px;
}
.map-icon img {
    margin-left: 15px;
}

::selection {
    background-color: red; 
    color: #fff; 
}


::-moz-selection {
    background-color: red; 
    color: #fff; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
}

.logo img {
    height: 40px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: gray;
    padding: 10px 15px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.nav-links a:hover {
    background-color: #555;
    border-radius: 5px;
    color: white;
}

#nav-special {
    background-color: red;
    color: white;
}

.active {
    background-color: gray;
    color: white;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.slider {
    position: relative;
    width: 80%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    box-sizing: border-box;
}

.slide img {
    width: 100%;
    display: block;
    border-radius: 10px;
}